Add a utility function for splitting apart comma-and-space-separated lists

Cf. #2?

See also:

- `#rule` in §2.1 of [RFC 2068](https://www.rfc-editor.org/rfc/rfc2068.html)
- [`parse_http_list()` in `urllib.request`](https://github.com/python/cpython/blob/816b63512408a28b9e700067e20969af41ceb52b/Lib/urllib/request.py#L1432)